@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,70,400;0,100,400;0,100,600;0,100,800;1,100,400&display=swap");

:root {
    --teal-400: #48c0b9;
    --teal-600: #008597;
    --teal-700: #1a5b6e;
    --font-primary: "Archivo", Helvetica, Arial, sans-serif;
}

body {
    font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.text-dark, .btn.btn-link.text-dark {
    @extend .text-dark
}

.text-light, .btn.btn-link.text-light {
    @extend .text-light
}

.text-medium, .btn.btn-link.text-medium {
    color: $access-medium;
}

.text-orange, .btn.btn-link.text-orange {
    color: $access-orange;
}

.text-yellow, .btn.btn-link.text-yellow {
    color: $access-yellow;
}

.bg-dark {
    background-color:$access-dark;

    @extend .text-light;

    .btn.btn-link {
      @extend .text-yellow;

        &:hover {
            @extend .text-orange;
        }
    }

    h3, .h3 {
        color: $access-teal;
    }
}

.bg-medium {
    background-color:$access-medium;
}

.bg-light {
    background-color:$access-light;

    @extend .text-dark;
}


*, * ::before, * ::after {
    box-sizing: border-box
}

h1, .h1 {
    font-size: 36px;
    font-stretch: 70%;
    font-weight: 400;
    //text-transform: uppercase;
}

h2, .h2 {
    font-size: 24px;
    font-stretch: 70%;
    font-weight: 400;
    //text-transform: uppercase;
}

h3, .h3 {
    font-size: 20px;
    font-stretch: 50%;
    font-weight: 400;
    color: $access-medium
    //text-transform: uppercase;
}

h4, .h4 {
    font-size: 16px;
    font-weight: 800;
}

.btn {
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    font-weight: 200;

    &:hover, &.active {
        text-decoration: none;
        font-weight: 200;
        background-color: white;
        border-color: black;
        color: black;
    }

    &.btn-link {
        @extend .btn-link;
        margin: 0px;
        padding: 0px;
        width: initial;
        text-align: left;
        font-size: inherit;
        color: black;
        text-decoration: underline;
        font-weight: bold;
        border: none;
        background-color: transparent;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
            font-weight: bold;
            background-color: transparent;
            border: none;
            color: $access-medium;
        }
    }

    &.btn-primary {
        border-color: $access-yellow;
        background-color: $access-yellow;
    }

    .btn-outline-primary,
    .btn-outline-secondary,
    .btn-outline-success,
    .btn-outline-danger,
    .btn-outline-warning,
    .btn-outline-info,
    .btn-outline-light,
    .btn-outline-dark {

    }
}


.page-link {
  color: #138597;
}

.page-link.active {
    z-index: 3;
    color: white;
    background-color: #138597;
    border-color: #138597;
}